<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app id="WebApp_1464872274877">
  <display-name>微信服务端</display-name>
  
   <context-param>  
        <param-name>contextConfigLocation</param-name>  
        <param-value>classpath:dubboconfig/spring-dubbo-consume.xml</param-value>  
    </context-param>
  
   <listener>
  		<display-name>spring 监听器</display-name>
  		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  	</listener>
  
    <servlet>
        <servlet-name>SpringMVC-Servlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath*:spring/applicationContext-SpringMVC.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>SpringMVC-Servlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
   
    
  	<welcome-file-list>
  		<welcome-file>html/index.html</welcome-file>
  	</welcome-file-list>
  
</web-app>
