<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app id="WebApp_1465300610546">
  <display-name>Dubbo服务容器</display-name>
  
   <context-param>  
        <param-name>contextConfigLocation</param-name>  
        <param-value>
            classpath*:dubboconfig/spring-dubbo-*.xml,
            classpath*:springconfig/spring-*.xml
        </param-value>
   </context-param>
   <listener>
  		<display-name>spring 监听器</display-name>
  		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  	</listener>
   
</web-app>
