<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
	<!-- 设置注解扫描范围 -->
	<context:component-scan base-package="com.itgo.*"/>
	<!-- 开启注解 -->
    <mvc:annotation-driven />
	<!-- 静态资源 -->
	<mvc:resources location="/html/css/" mapping="/html/css/**" />
	<mvc:resources location="/html/fonts/" mapping="/html/fonts/**" />
	<mvc:resources location="/html/image/" mapping="/html/image/**" />
	<mvc:resources location="/html/itgocss/" mapping="/html/itgocss/**" />
	<mvc:resources location="/html/itgoimage/" mapping="/html/itgoimage/**" />
	<mvc:resources location="/html/itgojs/" mapping="/html/itgojs/**" />
	<mvc:resources location="/html/js/" mapping="/html/js/**" />
	<mvc:resources location="/html/" mapping="/html/*.html" />
	
	 
	
	<!-- SpringMVC 模板 -->
	<bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
		<property name="contentNegotiationManager">
			<ref bean="contentNegotiationManager"/>
		</property>
		<property name="viewResolvers">
			<list>
				<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
	               	<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
	                <property name="prefix" value="/html/"/>
	                <property name="suffix" value=".jsp"/>
           		</bean>
			</list>
		</property>
		<property name="defaultViews">
			<list>
				<bean class="org.springframework.web.servlet.view.json.MappingJackson2JsonView"></bean>
			</list>
		</property>
	</bean>
	
	<bean id="contentNegotiationManager" class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
		<property name="mediaTypes">
			<map>
				<entry key="atom" value="application/atom+xml"/>  
				<entry key="json" value="application/json"/>
				<entry key="xml" value="application/xml"/>
				<entry key="html" value="text/html"/>
			</map>
		</property>
	</bean>
	
	<!-- 拦截器 -->
	<mvc:interceptors>
		<!-- 页面拦截器未登录页面不能直接访问 -->
		<mvc:interceptor>
			<mvc:mapping path="/**"/>
			<mvc:exclude-mapping path="/"/>
			<mvc:exclude-mapping path="/html/index.html"/>
			<mvc:exclude-mapping path="/html/login.html"/>
			<mvc:exclude-mapping path="/html/regester.html"/>
			<mvc:exclude-mapping path="/html/js/*"/>
			<mvc:exclude-mapping path="/html/css/**"/>
			<mvc:exclude-mapping path="/html/fonts/**"/>
			<mvc:exclude-mapping path="/html/image/**"/>
			<mvc:exclude-mapping path="/html/itgocss/**"/>
			<mvc:exclude-mapping path="/html/itgoimage/**"/>
			<mvc:exclude-mapping path="/html/itgojs/**"/>
			<ref bean="pageInterceptor"/>
		</mvc:interceptor>
	</mvc:interceptors>
	

	
	<bean id="pageInterceptor" class="org.mxsm.itgo.spring.interceptor.PageInterceptor" scope="prototype">
	
	</bean>
	
	
	
</beans>